.mp3-player {
  background-color: #f8f9fa;
  /* Light background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

button {
  width: 100px;
}

button i {
  margin-right: 5px;
}