<div class="table-container">
<div class="controls">
  <button (click)="prev()">⬅ Previous</button>
  <button (click)="next()">Next ➡</button>
</div>
<!-- picture-table.component.html -->
<div class="table-container">
  <table class="image-table">
    <tr *ngFor="let row of getRows(); let rowIndex = index">
      <td *ngFor="let item of row; let colIndex = index">
        <div class="media-wrapper">
          <!-- IMAGE -->
          <img *ngIf="item.type === 'image'" [src]="item.src" />

          <!-- VIDEO / AUDIO -->
          <ng-container *ngIf="item.type !== 'image'">
            <!-- Placeholder -->
            <img
              *ngIf="playingIndex !== rowIndex * 2 + colIndex"
              [src]="item.placeholder"
              class="clickable"
              (click)="playMedia(rowIndex * 2 + colIndex)"
            />

            <!-- Video -->
            <video
              *ngIf="
                item.type === 'video' &&
                playingIndex === rowIndex * 2 + colIndex
              "
              controls
              autoplay
            >
              <source [src]="item.src" type="video/mp4" />
            </video>

            <!-- Audio -->
            <audio
              *ngIf="
                item.type === 'audio' &&
                playingIndex === rowIndex * 2 + colIndex
              "
              controls
              autoplay
            >
              <source [src]="item.src" type="audio/mpeg" />
            </audio>
          </ng-container>
        </div>
      </td>
    </tr>
  </table>
  <div class="controls">
  <button (click)="prev()">⬅ Previous</button>
  <button (click)="next()">Next ➡</button>
</div>
</div>


</div>