<div class="p-5 text-center bg-body-tertiary" style="width: 100%;margin: auto;height: 100vh;">
  <h1 class="mb-3">
    <span class="align-middle">
      <p class="fw-lighter ">
        <span class="text-success">Pour toute demande de renseignements, veuillez vous adresser à l'adresse email
          suivante :</span>
        <span class="text-primary"> banabalukala&#64;gmail.com</span>

      </p>
<!--       <p class="fw-lighter ">
        <span class="text-success"> ou par téléphone au</span>
        <span class="text-primary"> +1 510 555 7890.</span>
      </p> -->
    </span>
  </h1>

</div>