.scrolling-text {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  /* font-size: 24px; */
  font-size: 150%;
  font-weight: bold;
  white-space: nowrap;
  font-style: italic;
  word-wrap: break-word;
  /* overflow: hidden; */
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

